<div class="tracker-header">
  	<div class="tracker-title"><%= tracker.period %> </div>
  	<div><%= link_to '+', trackers_path(:period => DateTime.parse(Time.now.to_s).strftime("%d/%m/%Y %H:%M")), :method => :post, class:'tracker-new' %></div>
  </div>

      <div class="container tracker-container">
        <div class="content">
			<div class="row">

			   	<% tracker.fields.each do |field|%>
			   	<div class="col-md-4">
			      <div class="field" >
			      	<div class="field-title"><strong><%= field.title %></strong></div>
			      	<ul>
			      		<% field.entries.each do |entry|%>
							<li class="entry"><%= entry.task %></li>
						<% end %>
			      	<ul>
			      </div>
			     </div>
			     <% end %>
			</div>
      </div>
    </div>