

<% if ! @trackers.any? %>
<div class="tracker-header">
  	<div><%= link_to 'Create your first Tracker', trackers_path(:period => DateTime.parse(Time.now.to_s).strftime("%d/%m/%Y %H:%M")), :method => :post, class:'tracker-title' %></div>
</div>

<% else %>

<% @trackers.each do |tracker|%>
   <%= render partial: "tracker", locals: {tracker: tracker} %>
    <div class="user-box">
   		<div class="user-initials"><%= @user.name[0] %><%= @user.lastname[0] %></div>
	</div>

<% end %>

<% end %>
