<%= render "layouts/header" %>

<section class="hero text-center">
	<div class="container">
	<h1>
	  Lightweight Goal Tracker for Modern Teams
	</h1>

	<p class="subhero">
	  What's your plan this week? What was achieved last week?
	  <br/> Any roadblocks you need help with?
	  <br/>Manage your goals individually, with your manager, with your team.
	</p>

	<%= button_to 'Try yourself', new_user_path, method: :get, class:'btn btn-primary btn-lg' %>

	</div>
</section>

<section class="benefits-section text-center">
	<div class="container">
	<h2>Lightweight Goal Tracker for Modern Teams</h2>
	<p class="subhero">
	  What's your plan this week? What was achieved last week?
	  <br/> Any roadblocks you need help with?
	  <br/>Manage your goals individually, with your manager, with your team.
	</p>
	</div>
</section>



<section class="third-section text-center">
	<div class="container">
	<h2>Lightweight Goal Tracker for Modern Teams</h2>
	<p class="subhero">
	  What's your plan this week? What was achieved last week?
	  <br/> Any roadblocks you need help with?
	  <br/>Manage your goals individually, with your manager, with your team.
	</p>
	</div>
</section>

