<%= render "layouts/header" %>

<div class="container">

<div class="col-md-4 col-md-offset-4"> 

<h2>Editing Field</h2>

<%= render 'form' %>

<%= link_to 'Show', @field %> |
<%= link_to 'Back', fields_path %>


</div></div>