<div class="first-row">
	<div class="brand pull-left"> <%= link_to('progress', "/") %><% if controller_name == "teams" %> | <strong><span id="team_name_header"><%= @team.name %></span></strong> <% end %> </div>
	

	<div class="login-cta pull-right">
	
	<% if user_signed_in? %>
	  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
	 <% else %>
	  <%= link_to('Login', new_user_session_path)  %>  
	  
	<% end %>

	</div>

</div>